*{
    border: crimson solid 1px;
    text-align: center;
}

#container{
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto ;
}

.hover{
    background-color: black;
}

/*#container>div{
    width: 20px;
    height: 20px;
}*/